<ion-header>
  <ion-toolbar>
    <ion-title>Darshan</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="refresh()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div class="spinner" *ngIf="isLoading">
        <span class="helper"></span>
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  <ion-list *ngIf="!isLoading">
    <ion-item no-margin no-padding lines="none" *ngFor="let image of darshan; let i = index">
      <ion-card class="darshan-card">
        <ion-img (ionImgDidLoad)="image.isLoaded = true" (click)="presentModal(darshan, i)" [src]="image?.url"></ion-img>
        <!-- <ion-img (load)="image.isLoaded = true" (click)="presentModal(darshan, i)" [src]="(image?.isDownloaded | async) ? normalizeURL(image?.fileName) : image?.url"></ion-img> -->
        <div class="spinner" *ngIf="!image?.isLoaded">
          <span class="helper"></span>
          <ion-spinner name="crescent"></ion-spinner>
        </div>
      </ion-card>
      <!-- <p>{{image?.isDownloaded | async}}</p>
      <p>{{image?.fileName}}</p> -->
      <!-- <p>{{image?.local}}</p> -->
    </ion-item>
  </ion-list>
</ion-content>