<ion-header>
  <ion-toolbar>
    <ion-title>Share</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none" no-padding>
      <ion-img src="/assets/img/bapuji-share.jpg" alt=""></ion-img>
    </ion-item>
  </ion-list>
  <div class="mahamantra">
    <div>hare kṛṣṇa hare kṛṣṇa</div>
    <div>kṛṣṇa kṛṣṇa hare hare</div>
    <div>hare rāma hare rāma</div>
    <div>rāma rāma hare hare</div>
  </div>
  <div class="share">
    <ion-button (click)="shareApp()" class="share-button" fill="outline">Share the App</ion-button>
  </div>

</ion-content>